html {
    background-color: #999;
    font-family: 'Playfair Display', serif;
    font-size: 1rem;

}

header {
  font-family: 'Quicksand', sans-serif;
  font-weight: normal;
  font-style: none;
  font-size: 3rem;
  text-decoration: none;
  text-align: center;
  font-family: 'PT Serif', serif;
  line-height: 1.5;
  color: #FFAB00;
  background-color: #555;
  padding: 1em 2em 0.5em 3em;
  margin: 0rem;
}

header h1{
  font-style: italic;
  font-family: 'Quicksand', sans-serif;
}

body {
  margin:0;
}

main {
  margin:1em;
}

h2{
  font-family: 'Quicksand', sans-serif;
  font-weight: normal;
  font-size: 2rem;
  text-decoration: none;
  line-height: 1.5;
  color: #FFAB00;
  margin: 0 0 1em 0;
}

a {
  display: block;
  color: #3B2F10;
}

a:hover {
  color: #777
}

nav a {
  font-family: 'Quicksand', sans-serif;
  padding: 0.5em;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  list-style-type: none;
  background-color: #222;
  text-align: center;
}

nav ul {
list-style: none;
margin: 0;
padding: 0;
}

nav li {
  display: inline-block;
  padding: 0.15em 0.05em;
}

ol {
  list-style-type: upper-roman;
  padding: 0;
  line-height: 1.5;
  font-size: 1rem;
  margin-left: 2em;
}

blockquote{
  font-size: 1.5rem;
  color: white;
  text-align: center;
  line-height: 1.75em;
}

blockquote span{
  font-size: 3rem;
  font-family: 'Georgia', serif;
}

blockquote div{
text-align: center;
}

figure {
  border-radius: 20px;
  border: solid;
  border-color: white;
  border-width: 1px;
  list-style-type: none;
  padding: 2em;
  background-color: #555;
  text-align: center;
  color: white;
}

figcaption{
  font-size:1rem;
  font-style: italic;
}

img {
  width: 100%;
}

dd {
  text-align: left;
  margin: 0;
  line-height: 1rem;
  padding: 0 0 2em 0;
}

dl dt {
  font-family: 'Quicksand', sans-serif;
  font-style: bold;
}

footer {
  background-color: #555;
  margin: 0;
  text-align: left;
  padding:1em 1em 1em 1em;
}

footer ul{

}
